name: ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.7"
      - name: Download modules
        run: go mod download
      - name: Go test
        run: go test ./...
      - name: Go vet
        run: go vet ./...
